{% extends 'base/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.creador.label}}</label>
            {{form2.creador}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.nit.label}}</label>
            {{form2.nit}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.nombre_empresa.label}}</label>
            {{form2.nombre_empresa}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.nombre_comercial.label}}</label>
            {{form2.nombre_comercial}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.direccion.label}}</label>
            {{form2.direccion}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.telefono.label}}</label>
            {{form2.telefono}}
            </div>
        </div>    
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.correo.label}}</label>
            {{form2.correo}}
            </div>
        </div>    
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.nombre.name}}">{{form2.website.label}}</label>
            {{form2.sitio_web}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.pais.name}}">{{form2.pais.label}}</label>
            {{form2.pais}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.estado.name}}">{{form2.estado.label}}</label>
            {{form2.estado}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.ciudad.name}}">{{form2.ciudad.label}}</label>
            {{form2.ciudad}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form2.ciudad.name}}">{{form2.usuarios_empresa.label}}</label>
            {{form2.usuarios_empresa}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>    
    </div>
</form>
{% endblock %}