{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Descripción</td>
            <td>Estado</td>
            <td>Precio</td>
            <td>Cantidad</td>
            <td>Marca</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for product in object_list %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.status }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.marca.name }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'products:products_editar' product.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'products:products_eliminar' product.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de productos</h1>
     {% endif %}
    </tbody>
</table>
{% endblock %}