{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nit</td>
			<td>Nombre</td>
			<td>Nombre comercial</td>
			<td>Dirección</td>
			<td>Correo electrónico</td>
			<td>Número de teléfono</td>
			<td>Sitio web</td>
			<td>País</td>
			<td>Departamento</td>
			<td>Ciudad</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for store in object_list %}
		<tr>
			<td>{{ store.nit }}</td>
			<td>{{ store.name_company }}</td>
			<td>{{ store.name_commerce }}</td>
			<td>{{ store.address }}</td>
			<td>{{ store.email }}</td>
			<td>{{ store.cellphone }}</td>
			<td>{{ store.website }}</td>
			<td>{{ store.country }}</td>
			<td>{{ store.state }}</td>
			<td>{{ store.city }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'store:store_editar' store.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'store:store_eliminar' store.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de tiendas</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}